@charset "utf-8";
/* CSS Document */
html{
font-family:Verdana, Geneva, sans-serif;
font-size: 16px;
}

@keyframes carrusel-infinito{
	0%, 50% {background-image:url(../images/imgphp.png); }
	50%, 100% {background-image:url(../images/imgmysql.jpg); transform:matrix;}
	}

header{
	background-color:#005883;
	width:100%;
}

h4 {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size:20px;
	position: absolute;
	width:120px auto;
	left: 400px;
	top: 30px;
}

#footer1{
	top:1150px;
	background-color:#333333;
	position:absolute;
	height:100px;
	width:100%;
}

#footer2{
	top:1550px;
	background-color:#333333;
	position:absolute;
	height:100px;
	width:100%;
}

.sliders{
	margin:auto;
	background:transparent url(../images/1page-img.jpg) repeat-x center ;
	height:320px;
	width:100%;
	background-size:contain;
	-webkit-animation:carrusel-infinito 10s infinite 2s normal ease-in;
	animation:carrusel-infinito 10s infinite 2s normal ease-in;
}


article {    
    text-align: justify;
	padding: 12px;
	display:inline-block; 	
}

#Seccion1{
	margin-top:15px;
	border-radius:20px;
    border: 3px solid #005883;
	position:absolute;
	left:500px;
	width:800px auto;
	height:200px auto;
}	
	
#Seccion2{
	border-radius:20px;
	border-color:#666;
	border: 3px solid #005883;
	margin-top:15px;
	position:absolute;
	width:800px auto;
	height:200px auto;
	top:250px;
	left:500px;
}


aside{
	border-radius: 20px;
	border-color: #666;
	border: 3px solid #005883;
	margin-top: 15px;
	position: absolute;
	margin-top: 15px;
	left: 73px;
	width: 300px;
	height: 550px;
	text-align:justify;
	word-wrap: break-word;
}
	
#logo{
	margin:5px;
	}
	
#principal{
	position: absolute;
	left: 63px;
	top: 500px;
	width: 1219px;
	height: 365px;
	text-align:center;
}

/* Navegación */
nav {
    display: inline-block;
    width: 100%; 
    text-align: left;
	background:#F0B429;
	font-family:Arial, Helvetica, sans-serif;
}
			
nav ul {
	list-style: none;
	padding:0px;
	position:relative;
	display:inline-table;
}

nav li {
	float:left;
}

nav ul ul li {
	float:none;
	z-index:1;
	padding:5px;
	padding-top:5px;
	background-color:#F0B429;
	display:block;
	}

nav li a {
	background-color:#F0B429;
	color:#005883;
	text-decoration:none;
	padding:0px 12px;
	display:block;
}

nav li a:hover {
	background-color:#F47920;
}

nav li ul {
	display:none;
	position:absolute;
}

nav li:hover > ul {
	display:block;
}

nav li ul li {
	position:relative;
}


			
#tw{
	width:50px;
	height:50px;
	padding:12px;
	position:absolute;
	left:50%;
}
